/* 
* Tyler Carpenter
* CIS4004-26Spring 0001
* Week 3: Basic CSS
*/


body{
    background-color: rgb(145, 203, 230);
    font-size: 12px;
}

h1{
    text-align: center;
    font-size: 36px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

#paragraph2{
    background-color: white;
    text-align: left;
    border: 2px solid green;
    line-height: 1.5;
    padding: 30px;
    margin: 10px;
    max-width: 700px;
}

.blue{
    background-color: navy;
    color: white;
    padding: 10px;
}

 ol{
    list-style-type: decimal-leading-zero;
} 


 .w3-link {
    color: red; /* change the link color */
  }

  table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
  }

  th {
    background-color: lightgray;
  }

    td {
        background-color: white;
    }